* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header,
main {
  margin: 100px 200px;
}

.btn-primary {
  border-radius: 40px;
  background: #e02c6d;
  color: #fff;
  padding: 10px 24px;
  font-size: 16px;
  font-weight: 700;
  border: 0;
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-title {
  color: #3a3a3a;
  font-size: 24px;
  font-weight: 700;
}
.nav-bar ul {
  display: flex;
}

.nav-bar ul li {
  list-style: none;
  margin-left: 35px;
  cursor: pointer;
}
.nav-bar ul li a {
  text-decoration: none;
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 600;
}
.header-area {
  margin: 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-content {
  width: 50%;
}
.header-content h1 {
  color: #3a3a3a;
  font-size: 52px;
  font-weight: 700;
  line-height: 70px;
}
.header-content p {
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 600;
  margin: 20px 0;
}

.btn-primary i {
  margin-left: 8px;
}

.header-area img {
  background-image: url(../images/Circle\ design.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/* banner-area css */
.banner-area {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 70px 0;
  border-top: 1px solid #f1e4ff;
  border-bottom: 1px solid #f1e4ff;
  padding: 30px 0 25px 0;
}

/* popular-area css */
.popular-area {
  margin: 100px 0;
}
.popular-area h2 {
  text-align: center;
  color: #3a3a3a;
  font-size: 28px;
  font-weight: 600;
  line-height: 70px;
}
.popular-card-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.popular-card-items .card {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 40px 0px #00000026;
  padding: 20px 15px;
}
.popular-card-items .card img {
  display: block;
  border-radius: 5px;
  width: 100%;
}
.card .card-title {
  color: #18191f;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  margin-top: 15px;
}
.card .card-price {
  color: #000000de;
  font-size: 24px;
  font-weight: 400;
  line-height: 150%;
}
.card .card-rating {
  color: #18191f;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.1px;
  margin: 10px 0;
}
.card .card-description {
  color: #787885;
  font-size: 14px;
  font-weight: 700;
  line-height: 143%;
  letter-spacing: 0.252px;
}
.popular-area button {
  margin-top: 20px;
  display: block;
  margin-left: auto;
}

/* product area css */
.product-area {
  margin: 100px 0;
  display: flex;
  gap: 100px;
  align-items: center;
  justify-content: space-evenly;
}
.product-area img {
  width: 100%;
}
.product-text h2 {
  color: #0a0826;
  font-size: 38px;
  font-weight: 700;
  line-height: 60px;
}
.product-text p {
  color: #6c6c6c;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  margin: 20px 0;
}

/* footer area css */
footer {
  background-color: #0a0826;
}
.footer-area {
  color: #fff;
  text-align: center;
  padding: 50px 0;
}
.footer-text {
  display: flex;
  flex-direction: column;
}
.footer-text h3 {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}
.footer-text p {
  color: #d9dbe1;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin: 10px 0;
}
.footer-icons ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.footer-icons ul li {
  list-style: none;
  color: #fff;
  font-weight: bold;
}

@media screen and (min-width: 576px) and (max-width: 991px) {
  .nav-title {
    margin-bottom: 20px;
  }
  nav,
  .nav-bar ul,
  .header-area,
  .banner-area {
    flex-direction: column;
    text-align: center;
  }
  .header-area,
  .product-area {
    flex-direction: column-reverse;
    text-align: center;
  }
  .nav-bar ul li,
  .product-area {
    margin: 10px 0;
  }
  header,
  main {
    margin: 50px 0;
  }
  .header-content {
    width: 90%;
  }
  .header-content h1 {
    font-size: 40px;
    line-height: 50px;
  }
  .header-area img {
    margin-top: 20px;
  }

  /* banner area */
  .banner-area {
    gap: 30px;
    padding: 25px 0;
  }

  /* popular area */
  .popular-card-items {
    grid-template-columns: 1fr;
    margin: 0 10px;
  }

  /* product area */
  .product-area {
    gap: 50px;
  }
  .product-area img {
    width: 80%;
  }
  .product-text h2 {
    font-size: 24px;
    line-height: 30px;
  }
  /* footer area */
  .footer-text h3 {
    font-size: 16px;
  }
  .footer-text p {
    font-size: 12px;
  }
}

@media screen and (max-width: 576px) {
  .nav-title {
    margin-bottom: 20px;
  }
  nav,
  .nav-bar ul,
  .banner-area {
    flex-direction: column;
    text-align: center;
  }
  .header-area,
  .product-area {
    flex-direction: column-reverse;
    text-align: center;
  }
  .nav-bar ul li {
    margin: 10px 0;
  }
  header,
  main {
    margin: 50px 0;
  }
  .header-content {
    width: 90%;
  }
  .header-content h1 {
    font-size: 30px;
    line-height: 50px;
  }
  .header-area img {
    margin-top: 20px;
    width: 80%;
  }

  /* banner area */
  .banner-area {
    gap: 30px;
    padding: 25px 0;
  }

  /* popular area */
  .popular-card-items {
    grid-template-columns: 1fr;
    margin: 0 10px;
  }

  /* product area */
  .product-area {
    gap: 50px;
  }
  .product-area img {
    width: 80%;
  }
  .product-text h2 {
    font-size: 24px;
    line-height: 30px;
  }
  /* footer area */
  .footer-text h3 {
    font-size: 16px;
  }
  .footer-text p {
    font-size: 12px;
  }
}
