* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  margin: 100px 200px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-title {
  color: #3a3a3a;
  font-size: 24px;
  font-weight: 700;
}
.nav-bar ul {
  display: flex;
}

.nav-bar ul li {
  list-style: none;
  margin-left: 35px;
  cursor: pointer;
}
.nav-bar ul li a {
  text-decoration: none;
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 600;
}
.header-area {
  margin: 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-content {
  width: 50%;
}
.header-content h1 {
  color: #3a3a3a;
  font-size: 52px;
  font-weight: 700;
  line-height: 70px;
}
.header-content p {
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 600;
  margin: 20px 0;
}
.btn-primary {
  border-radius: 41px;
  background: #e02c6d;
  color: #fff;
  padding: 10px 24px;
  font-size: 16px;
  font-weight: 700;
  border: 0;
  cursor: pointer;
}
.btn-primary i {
  margin-left: 8px;
}

.header-area img {
  background-image: url(../images/Circle\ design.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 576px) {
    .nav-title{
        margin-bottom: 20px;
    }
  nav,
  .nav-bar ul,
  .header-area {
    flex-direction: column;
    text-align: center;
  }
  .nav-bar ul li {
    margin: 10px 0;
  }
  header {
    margin: 50px 0;
  }
  .header-content {
    width: 90%;
  }
  .header-content h1 {
    font-size: 30px;
        line-height: 50px;
  }
  .header-area img{
    margin-top: 20px;
  }
}


@media screen and (min-width:576px) and (max-width: 991px) {
    .nav-title{
        margin-bottom: 20px;
    }
  nav,
  .nav-bar ul,
  .header-area {
    flex-direction: column;
    text-align: center;
  }
  .nav-bar ul li {
    margin: 10px 0;
  }
  header {
    margin: 50px 0;
  }
  .header-content {
    width: 90%;
  }
  .header-content h1 {
    font-size: 30px;
        line-height: 50px;
  }
  .header-area img{
    margin-top: 20px;
  }
}